@model Owner
@{
    ViewData["Title"] = "Delete Owner";
}

<h2>Confirm Deletion</h2>


<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="OwnerId" />
    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Owner" asp-action="Index" class="btn btn-primary">Cancel</a>
</form>