@{
    ViewData["Title"] = "Home Page";
}

<!-- Background image -->
<div
  class="bg-image"
  style="
    background-image: url('/images/pink_pets.jpg');
    background-size: cover;  height: 100vh;"
></div>
<!-- Background image -->
